<div class="container password-cont text-center">
    <h2 class="mb-4">Change Password</h2>
    <form class="example-form" [formGroup]="changePasswordForm" >
        <mat-form-field class="example-full-width">
          <mat-label>Current Passoword</mat-label>
          <input type="password" matInput formControlName="currentPassowrd" placeholder="Current Password">
          <mat-error *ngIf="currentPassowrd.dirty && currentPassowrd.hasError('passwordMismatchError')">
            Password is <strong>incorrect</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>New Passoword</mat-label>
          <input type="password" matInput formControlName="newPassword" placeholder="New Password">
        </mat-form-field>
      </form>
      <button (click)="changePassword()" [disabled]="changePasswordForm.invalid" mat-raised-button color="primary">Update Password</button>
      <button class="ms-2" mat-raised-button color="accent">Cancel</button>
</div>