<div class="body">
<main class="container">
    <h1 class="header">Hi There,</h1>
    <img class="dead-img" src="..\assets\about-page-bg2.png" alt="img">
    <h1 class="sub-header">Let's talk about POPCORN</h1>
    <p class="about container">The Movie Database (TMDB) is a community built movie and TV database. Every piece of data
        has been added by our
        amazing community dating back to 2008. TMDB's strong international focus and breadth of data is largely
        unmatched and something we're incredibly proud of. Put simply, we live and breathe community and that's
        precisely what makes us different.
    </p>

    <h1 class="adv">The POPCORN advantage</h1>
    <ol>
        <li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet autem omnis veritatis earum maxime,
                minus
                ipsam dolorum doloribus at ipsum eum quae ratione, rem officia qui iure perferendis repudiandae magni.
            </p>
        </li>
        <li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet autem omnis veritatis earum maxime,
                minus
                ipsam dolorum doloribus at ipsum eum quae ratione, rem officia qui iure perferendis repudiandae magni.
            </p>
        </li>
        <li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet autem omnis veritatis earum maxime,
                minus
                ipsam dolorum doloribus at ipsum eum quae ratione, rem officia qui iure perferendis repudiandae magni.
            </p>
        </li>
        <li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet autem omnis veritatis earum maxime,
                minus
                ipsam dolorum doloribus at ipsum eum quae ratione, rem officia qui iure perferendis repudiandae magni.
            </p>
        </li>
        <li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet autem omnis veritatis earum maxime,
                minus
                ipsam dolorum doloribus at ipsum eum quae ratione, rem officia qui iure perferendis repudiandae magni.
            </p>
        </li>
    </ol>
</main>
</div>