<app-nav-bar></app-nav-bar>
<!-- <iframe width="684" height="385" src="https://www.youtube.com/embed/2g2sXGixh3w" title="Qala | Official Trailer | Tripti Dimri, Babil Khan, Amit Sial, Varun Grover | Netflix India" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->


<!-- <app-registration></app-registration> -->

<!-- <app-login></app-login> -->

<!-- <app-forgot-pass></app-forgot-pass> -->

<!-- <app-movie-detail></app-movie-detail> -->